@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url(assets/images/bg.jpg);
  height: 644px;
  background-size: max(1600px, 100vw);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}

.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 75vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav div {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

nav img {
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.seperation {
  height: 6px;
  background-color: rgb(55, 53, 53);
  position: relative;
  z-index: 20;
}

.btn {
  font-family: "Poppins", sans-serif;
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(248, 243, 243, 0);
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  transition: all 0.2s ease-out;
}

.btn-red:hover {
  opacity: 0.7;
}

.btn-red-sm {
  background-color: red;
  color: white;
  border: none;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border-radius: 4px;
  border: 1px solid rgba(254, 254, 254, 0.3);
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: 900;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faqbox svg {
  filter: invert(1);
}

.faqbox {
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  background-color: #2d2d2d;
  transition: all 0.3s ease-out;
  padding: 24px;
  width: 78vw;
  margin: 8px auto;
  cursor: pointer;
}

.faqbox:hover {
  background-color: #414141;
}

footer {
  color: white;
  width: 60vw;
  margin: auto;
  padding: 14px;
}

.questions {
  padding: 34px 0px;
  opacity: 0.7;
}

.footer a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  max-width: 60vw;
  margin: auto;
  font-size: 14px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
  text-decoration: underline;
}

footer span {
  opacity: 0.7;
}

.get-ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.get-ready span {
  color: white;
  font-size: 24px;
  text-align: center;
}

.getready-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.get-ready input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(254, 254, 254, 0.3);
}

.getready-btn {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.getready-btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1300px) {
  nav {
    max-width: 80vw;
  }
  .first {
    flex-wrap: wrap;
  }
  .secImg img {
    width: 305px;
  }
  .secImg video {
    width: 305px;
  }
  .hero > :nth-child(1) {
    font-size: 32px;
  }
  .hero > :nth-child(2) {
    font-size: 18px;
  }
  .hero > :nth-child(3) {
    font-size: 18px;
  }
  .faq h2 {
    font-size: 32px;
  }
  .footer {
    max-width: 90vw;
  }
  .footer-item {
    align-items: center;
  }
}

@media screen and(max-width: 370px) {
  nav {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1300px) {
  .get-ready span {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px;
  }
}

@media screen and (max-width: 600px) {
  .hero-buttons {
    flex-direction: column;
  }
  .getready-buttons {
    flex-direction: column;
  }
}
